body
{
    font-size:12px;
    margin:0;
    padding:0;
    font-family:Arial;
}
.ui-widget {
    font-size:12px !important;
}
.gridview td, th
{
    border:1px solid #bababa;
    padding:3px;
}
.gridview tr th
{
    background: -moz-linear-gradient(center top , #F5F5F5, #CFD1CF) repeat scroll 0 0 #CFD1CF;
}