.pane{
	        min-height:300px;
	        background:#fff;
        }
        .pane .dragbox{
	        background:#fff;
	        position:relative;
	        border:1px solid #946553;
	        -moz-border-radius:5px;
	        -webkit-border-radius:5px;
        }
        .pane .dragbox h2{
	        margin:0;
	        font-size:12px;
	        background:#946553;
	        color:#fff;
	        border-bottom:1px solid #946553;
	        font-family:Verdana;
	        cursor:move;
	        padding:5px;
        }

        .dragbox-content{
	        min-height:100px;
        }
        .pane  .placeholder{
	        background: #EED5B7;
	        border:1px dashed #946553;
        }

        .opIcons
        {
        background-image: url('/images/dragdrop/iconSpirite.gif')!important;
        background-repeat: no-repeat;
        float:right;
        height:13px;
        width:13px;
        margin:0px 2px;
        }
            .opIcons:hover {
                cursor:pointer !important;
            }
        .maxmin
        {
	        background-position:-26px 1px;
        }

        .delete
        {
	        background-position:-269px center;
	        padding-top:1px;
        }