.x_pane{
	        min-height:300px;
	        background:#fff;
        }
        .x_pane .dragbox{
	        position:relative;
	        -moz-border-radius:5px;
	        -webkit-border-radius:5px;
        }
        .x_pane .dragbox h2{
            display:none;
            height:20px;
            line-height:18px;
	        font-size:11px;
	        background:url(/images/site/module_header_bg.png);
	        color:#fff;
	        font-family:Verdana;
	        cursor:move;
            position:absolute;
            top:0;
            left:0;
            width:100%;
        }

            .x_pane .dragbox h2 span
            {
                margin:0 5px;
            }

        .dragbox-content{
	        min-height:30px;
        }
        .placeholder{
	        background: #EED5B7;
	        border:1px dashed #946553;
        }

        .dragbox .opIcons
        {
        /*background-image: url('/images/dragdrop/iconSpirite.gif')!important;*/
        background-repeat: no-repeat;
        background-position: left bottom;
        float:right;
        height:12px;
        width:12px;
        margin:3px 3px;
        }
            .dragbox .opIcons:hover {
                cursor:pointer !important;
                background-position: left top;
            }
        .dragbox .maxmin
        {
	        background-image:url(/images/icons/12/more.png);
        }

.dragbox .edit {
     background-image:url(/images/icons/12/edit.png);
}
.dragbox .setting {
     background-image:url(/images/icons/12/gear.png);
}

        .dragbox .delete
        {
	        /*background-position:-269px center;
	        padding-top:1px;*/
            background-image:url(/images/icons/12/delete.png);
        }

.x_pane
{
    box-sizing:border-box;
    -moz-box-sizing:border-box;
    -webkit-box-sizing:border-box;
}
