body {
    margin: 0;
    padding: 0;
}
.iconDockPanel {
    position:fixed;
    bottom:0;
    left:0;
    z-index:999;
    cursor:pointer;
}
.dockPanel {
    border-right:1px solid red;
    height:100%;
}
.undock {
    display:none;
}
.dock {
    position:fixed;
    top:0;
    left:0;
    width:250px;
    z-index:2;
    display:block;
}
.dock_pages {
    position:fixed;
    top:0;
}
.dock_modules {
    position:fixed;
    bottom:40px;
}
#content {
    margin-left: 252px;
}